body {
  font-size: 16px;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
  margin: 0px;
}

/* Header */
#header-nav {
	position: relative;
	background: #23232E;
	border: 0px;
	border-radius: 0px;
	height: 500px;
}

.navbar-header {
	width: 100%;
}

header div div {
	text-align: center;
}

#logo-image {
	width: 254px;
	height: 180px;
	margin: 70px 0px 0px 0px;
}

h1 {
	text-align: center;
	margin-top: 50px;
}

 #short-welcome {
	width: 100%;
	text-align: center;
	margin-top: 2em;
}

#drop-down-sign {
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

/* End Header */


/* Experience */
#main-content {
	color: #000000;
}

/* Brief Introduaction */
#brief-intro {
	margin-top: 25px;
	clear:both;
	text-align: center;
	line-height: 2em;
}


#exp-caption {
	margin-top: 25px;
	margin-bottom: 50px;
	font-size: 40px;
	font-weight: bold;
	clear:both;
}

#exp-thumbnail {
	clear: both;
	width: 100%;
	top: 25px;
}
/* End Experience */


/* Project Detail Information */
p {
	clear: both;
}

#detail-exp {
	color: black;
}

/* Detail Experience style*/
div div{
	text-align: center;
}

div>div>section{
	clear: both;
}
/* The list in vision software experience style*/
section ul {
	text-align: left;
}

/* End Project Detail Information */


/*********** For Large Device ************/
@media (min-width: 1200px) {

}

/*********** For Median Device ************/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*********** For Small Device ************/
@media (min-width: 742px) and (max-width: 991px) {

}

/*********** For Extreme Small Device ************/
@media (min-width: 742px) and (max-width: 991px) {

}



